<h1>Rastaurar contraseña</h1>
<p style="color:red">{{error}}</p>
<br/> <br/>
<p>Ingresa tu correo y nueva contraseña</p>
<form action="/api/sessions/changePass" method="post">
    <input type="email" placeholder="Ingrese su correo" name="email" />
    <br /><br />
    <input type="password" placeholder="Ingrese su nueva contraseña" name="newPassword" />
    <br /><br />
    <button type="submit">Restaurar</button>
</form>