<h1>Registro de usuarios</h1>

{{!-- <p>{{error}}</p> --}}

{{!-- con este form no funciona no toma first_ name --}}

   <form action="/api/sessions/signup" method="post">
   <input id="first_name" type="text" placeholder="Ingrese su nombre" name="first_name"/>
   <br/><br/>
   <input type="text" placeholder="Ingrese su apellido" name="last_name"/>
   <br/><br/>   
   <input type="email" placeholder="Ingrese su correo" name="email"/>
   <br/><br/>
   <input type="password" placeholder="Ingrese su contraseña" name="password"/>
   <br/><br/> 
   <button type="submit">Registrate</button>
</form>
<hr>
<a href="/cambiar-password">Restaurar contraseña</a>
<hr>
<a href="/api/sessions/loginGithub">
   <button>Iniciar sesion con GITHUB </button>
</a>   


{{!-- Con este form funciona solo redireccionando a la pagina de fail-singup --}}
{{!-- <h1>Sign in</h1> --}}
{{!-- 
<form action="api/sessions/signup" method="post"> 
<section>
        <label for="first_name">Nombre</label>
        <input id="first_name" name="first_name" type="text" autocomplete="first_name" required >
    </section>
    <br><br>
    <section>
        <label for="email">Email</label>
        <input id="email" name="email" type="text" autocomplete="email" required >
    </section>
     <br><br>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
       <br/><br/> 
   <button type="submit">Registrate</button>
</form>
<hr>
<a href="/cambiar-password">Restaurar contraseña</a>
<hr>
<a href="/api/sessions/loginGithub">
   <button>Iniciar sesion con GITHUB </button>
</a> 
</form>   --}}