<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/chat.css" />
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <title>Tienda online</title>
</head>

<body>
    <h1>Encuentra los mejores productos para vos</h1>
    <nav class="nav">
        <div>
            <a href="/">Inicio</a>
            <a href="/registro">Registro</a>
            <a href="/productos">Productos</a>
            <a href="/realTimeProducts">Productos2</a>
        </div>
    </nav>
    {{{body}}}
    <div>

    </div>
</body>

</html>