<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/css/chat.css">  
     <link rel="stylesheet" type="text/css" href="/css/styles.css">   
      <link rel="stylesheet" type="text/css" href="/css/registro.css">  
    <title>Tienda online</title>
</head>

<body>
    <h1>Encuentra los mejores productos para vos</h1>
    <nav class="nav">
        <div class="items-nav">
            <a href="/">Inicio</a>
            <a href="/registro">Registro</a>
            <a href="/login">Login</a>
            <a href="/perfil">Perfil</a>
            <a href="/productos">Productos</a>
            <a href="/chat">Chat</a>
        </div>
    </nav>
    {{{body}}}
    <div>

    </div>
</body>

</html>